body{
background-color: #f1c6a5;
width: 50%;
padding: 30px 320px;
margin-top: auto;
right: auto;
}

.oi{
    color: #0077b6;
    
}
.io{
    color: #0077b6;
    margin-top: 60px;
}

.lo{
    color: #0077b6;
    margin-top: 60px;

}
.tudo{
    background-color: burlywood;
}



